<footer id="footer">
    <div class="outer">
        <div id="footer-info" class="inner">
            &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
            Hosted by <a href="https://pages.coding.me" style="font-weight: bold">Coding Pages</a>Theme by <a href="http://github.com/ppoffice">PPOffice</a>
        </div>
    </div>
</footer>